{% extends 'base.html.twig' %}

{% block title %}Tâches en cours{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row mt-4 d-flex justify-content-center">
                {% for task in tasks|reverse %}
                    {% if task.isDone == true  %}
                        <div class="card m-3" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title font-bold text-primary">{{ task.title }}</h5>
                                <p class="card-text">{{ task.content }}</p>
                                <a href="#" class="card-link text-success">Terminer</a>
                                <a href="#" class="card-link text-danger">Supprimer</a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
